<!--投稿編集-->
<h1>Editing Book</h1>

<!--エラーメッセージ-->
<% if @book.errors.any? %>

  <div class="error">
    <% if @book.errors.count == 1 %>
      <h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>
    <% else %>
      <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
    <% end %>

    <ul class="error-list">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<!--投稿編集フォーム-->
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <!--タイトル投稿-->
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <!--本文投稿-->
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <!--送信-->
  <div class="actions">
    <%= f.submit "Update Book" %>
  </div>

<% end %>

<!--リンクの表示-->
<%= link_to "Show", book_path(@book.id) %>
<span>|</span>
<%= link_to "Back", books_path %>
